<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Flipkart-Test-Suite">
  <test name="Test E2E flow of flipkart">
    <classes>
      <class name="com.flipkart.testcases.TC_flipkart"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test FlipKart Login Using Invalid Inputs">
    <classes>
      <class name="com.flipkart.testcases.TC_flipkartLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
